html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


#container {
    width: 800px;

}

textarea {
    width: 800px;
    height: 100px;
}

div#keyboard {
    display: flex;
    flex-direction: column;
}

#keyboard {
    display: flex;
}

#tilda-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tab-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#caps-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#shift-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ctrl-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tilda-row div,
#tab-row div,
#caps-row div,
#shift-row div,
#ctrl-row div {
    text-align: center;
    border: solid 2px blueviolet;
    width: 50px;
    height: 20px;
    margin-top: 2px;
}

.caps-lock,
.backspace {    
    width: 80px !important;
}

.space {
    width: 300px !important;
}

#tilda-row > div,
#tab-row > div,
#caps-row > div,
#shift-row > div {
    display: flex;
    justify-content: space-around;
}

div {
    user-select: none;
}